
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title></title>
		<link rel="icon" href="images/favicon.ico" type="image/png" />
		<!-- Bootstrap -->
		<link href="../stylesheets/bootstrap.min.css" rel="stylesheet" />
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css' />
		<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
		<!-- Main Styles -->
		<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
		
		<script type="text/javascript" src="../javascripts/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="../javascripts/script.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script> -->
		<script src="../javascripts/controller.js"></script>
	