<!DOCTYPE html>
<html lang="en">
	<head>
		<% include layout.html %>

	</head>
	<body ng-app="portfolio" ng-controller="portfolio_ctrl">
		<main class="wait">
			<nav class="navbar navbar-default navbar-static-top ">
				<div class="glass _PAD5">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed menurem" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<i class="fa fa-user"></i>
							</button>
							<a class="navbar-brand" href="#">
								<img src="images/logo_icon.png" style="position: absolute; top: 5px; width: 50px;" />
							</a>
						</div>
						<div class="collapse navbar-collapse user_resp_menu" id="bs-example-navbar-collapse-1">  
							<ul class="nav navbar-nav navbar-right">
									<li><a href="http://saptalabs.com" class="menu_items ladding_menu">www.saptalabs.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav> 
			<div class="row col-xs-12 col-md-12 col-sm-12 main_container"> 
				<div class="text-center _PDB20PX">
					<h3 class="heading_name">WELCOME TO PORTFOLIO</h3> 
					<P class="portfolio_info">If you are intrested, enter your details here to get the password</p>
				</div>
				<div class="container ">
					<form action="/register" class="form-horizontal" role="form" method='POST' name="form">
						<div class="form-group">
						<label class="text_align control-label col-xs-4  col-sm-4 col-md-3 portfolio_label star_imp" >Name &nbsp :</label>
							<div class=" col-xs-6 col-sm-4 col-md-3">
								  <input class="form-control input-lg"  type="text" ng-model="name" name='user_name' required>
							</div>
						</div>
						<div class="form-group">
						<label class="text_align control-label col-xs-4 col-sm-4 col-md-3 portfolio_label" >Organisation :</label>
							<div class="col-xs-6 col-sm-4 col-md-3">          
								<input class="form-control input-lg"  type="text" name='organisation_name'>
							</div>
						</div>
						<div class="form-group">
						<label class="text_align control-label col-xs-4 col-sm-4 col-md-3 portfolio_label star_imp">Email &nbsp:</label>
							<div class=" col-xs-6 col-sm-4 col-md-3">          
								<input type="email" name='user_email' ng-model="text" class="form-control input-lg alpha_lowr" required>
							</div>
						</div>
						<div class="form-group">
						<label class="text_align control-label col-xs-4 col-sm-4 col-md-3 portfolio_label star_imp">Phone :</label>
							<div class=" col-xs-6 col-sm-4 col-md-3">          
								<input type="text" class="form-control input-lg" pattern="[0-9]{10}" ng-model="phone" phon-number title="Please enter exactly 10 digits" maxlength="10"  name='user_phone' required>
							</div>
						</div>
						<div class="form-group dropdown header_nav">
							<label class="text_align control-label col-xs-4 col-sm-4 col-md-3 portfolio_label star_imp">Country :</label>
							 <div class=" col-xs-6 col-sm-4 col-md-3">
						    	<button class="btn dropdown-toggle dropdown_reg form-control input-lg" type="button" data-toggle="dropdown" style="background-color: #fff; font-size: 18px; border-radius:6px; color: #555; border: 1px solid #ccc; text-align: left;" ><%= countries[100].name %>
						    	<span class="arw"><span class="caret align_rt"></span></span></button>
						    	<ul class="dropdown-menu reg_drpdwn dropdown_menu_mob ">
						    		<% countries.forEach(function(country){ %>
						      			<li><div><%= country.name %></div></li>
						      		<% }); %>
						    	</ul>
						    </div>   
						</div>
						<input id="con" type="hidden" name="country" value="India" class="reg_button" />
						<div class="form-group">
							<label class="text_align control-label col-xs-4 col-sm-4 col-md-3 portfolio_label " ></label>
							<div class=" col-xs-6 col-sm-4 col-md-3">
								<input id="reg_submit" type="submit" value="SUBMIT" class="reg_button" />
							</div>
						</div>
						
					</form>
				</div>
				<div class="text-center _PDB20PX">
					<p class = "portfolio_info text_center ">&nbsp &nbsp &nbsp already a member?
						<a href ="/login">login</a>
					</p>
				</div>
			</div>
		</main>
	</body>
</html>